<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RequestChange</display-name>
    <servlet-name>RequestChange</servlet-name>
    <servlet-class>RequestChange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestChange</servlet-name>
    <url-pattern>/RequestChange</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertItemServlet</display-name>
    <servlet-name>InsertItemServlet</servlet-name>
    <servlet-class>InsertItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertItemServlet</servlet-name>
    <url-pattern>/InsertItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertItemServlet2</display-name>
    <servlet-name>InsertItemServlet2</servlet-name>
    <servlet-class>InsertItemServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertItemServlet2</servlet-name>
    <url-pattern>/InsertItemServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminController</display-name>
    <servlet-name>AdminController</servlet-name>
    <servlet-class>AdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminController</servlet-name>
    <url-pattern>/AdminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  
  
</web-app>